#login-container-1
{
    background: rgb(78, 78, 238);
    width: 100vw;
    height: 100vh;
}

#login-container-2
{
    border-bottom: 3px dotted rgb(39, 146, 110);
    background: none;
    width: 40%;
    height: 20%;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#login-welcome
{
    width: 80vw;
    height: 35vh;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

#logo
{
    height: 20vw;
    width: auto;
}

#login-welcome > span:nth-of-type(1)
{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);

    font-size: min(3em, 5vw);
    color: white;
}

#login-welcome > span:nth-of-type(2)
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: min(2em, 3vw);
    /* font-family: Sanchez; */
    color: white;
}

#form-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    /* width: 50vw;
    height: 40vh;
    border: 1px solid red; */
}