#profile-container-1
{
    width: 100vw;
    height: 100vh;
}

#profile-container-2
{
    width: 50%;
    height: 50%;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}