#translation-container-1
{
    background: rgb(78, 78, 238);
    width: 100vw;
    height: 100vh;
}

#translation-container-2
{
    width: 80%;
    min-height: 80%;

    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0%);
}

#translation-container-3
{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
}

#translation-container-4
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;
    min-height: 50%;

    background: rgb(230, 183, 29);
    border: 5px solid rgb(88, 88, 88);
    border-radius: 20px;
}