#translation-form
{
    width: min(400px, 30vw);
    height: min(75px, 20vh);
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    border-radius: 20px;
    background: rgb(252, 246, 238);
    align-items: center;
}

#translation-input
{
    text-align: center;
    font-size: 1.5em;

    grid-column: 1 / 5;
    grid-row: 1 / 2;

    border: none;
    background: none;

}

#translation-input:focus
{
    border: none;
    outline: none;

}

#translation-submit-button
{
    grid-column: 5 / 6;
    grid-row: 1 / 2;


    border-radius: 20px;
    background: none;

    font-weight: bold;

    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 75px;
    height: 50px;
}


#translation-submit-button:hover, #translation-submit-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#translation-submit-button:hover {
  transform: translateY(-1px);
}

#translation-submit-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
