nav
{
    width: 100vw;
    height: 5vh;
    
    background: rgb(68, 179, 76);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    font-size: 1.5em;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

a
{
    color: rgb(170, 43, 96);
}

a:hover
{
    cursor: pointer;
}